@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-custom {
	@apply block w-full md:w-auto text-center bg-gray-700 px-4 py-3 border border-gray-700 rounded-2xl text-white transition duration-300;
}
.btn-custom:hover {
	@apply bg-white text-black;
}

.service-custom{
    @apply text-white text-center justify-center bg-gradient-to-r from-gray-500 via-gray-700 to-gray-900 border-transparent rounded-lg p-2
}

.service-custom:hover{
    @apply hover:from-green-400 hover:via-green-500 hover:to-green-700;
}

.btn-service-custom{
    @apply flex text-white text-xl text-center justify-center bg-green-500 border-transparent rounded-lg p-1 bg-gradient-to-r from-gray-500 via-gray-700 to-gray-900;
}

.btn-service-custom:hover{
    @apply hover:from-red-600 hover:via-red-600 hover:to-red-600
}